<div class="page">

  <!-- INPUT RICERCA -->
  <div class="container">
    <p>Ricerca</p>
    <mat-divider></mat-divider>
    <div class="row">

      <!--  EMAIL -->
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput [(ngModel)]="page.email">
      </mat-form-field>

      <!--  PASSWORD -->
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput [(ngModel)]="page.password">
      </mat-form-field>

      <!--  USERNAME -->
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput [(ngModel)]="page.username">
      </mat-form-field>

      <!--  DESCRIZIONE -->
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput [(ngModel)]="page.descrizione">
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button color="primary" (click)="search()">Primary</button>
    </div>

  </div>

  <!--  RISULTATI RICERCA -->
  <div>

    <mat-table [dataSource]="results">
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>E-MAIL</mat-header-cell>
        <mat-cell *matCellDef="let e"> {{e.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pass">
        <mat-header-cell *matHeaderCellDef>PASSWORD</mat-header-cell>
        <mat-cell *matCellDef="let e"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef>USERNAME</mat-header-cell>
        <mat-cell *matCellDef="let e"> {{e.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="desc">
        <mat-header-cell *matHeaderCellDef>DESCRIZIONE</mat-header-cell>
        <mat-cell *matCellDef="let e"> {{e.descrizione}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>
