@use "src/styles/colors" as colors;





.search-table-label {
  padding: 0 0 0 10px;
  margin: 1px 2px;
  color: colors.$gray-primary;
  width: 170px;
  font: 500 18px Roboto, "Helvetica Neue";
}

.search-table-col {
  flex: 24%;
  margin: 0;
  border-right: 1px solid rgba(68, 71, 74, 0.3);
}

.search-table-action-col {
  flex: 4%;
  font-size: 10px;
}


mat-icon {
  margin-left: 6px;
}
