<div class="page">
  <nav>
    <span (click)="home()">Home</span>
    <span> > Password</span>
  </nav>
  <div class="container no-border">
    <div class="row align-end">
      <button mat-stroked-button color="primary" (click)="new()">Nuovo inserimento</button>
    </div>
  </div>

  <!-- INPUT RICERCA -->
  <div class="container">

    <div class="title">
      <p>Ricerca</p>
    </div>

    <div class="body">

      <div class="row">
        <!-- aggiustare il binding dei dati con i formControl -->

        <!--  EMAIL -->
        <div class="form-field">
          <span class="form-input-label">Email</span>
          <input class="form-input" type="text" [(ngModel)]="page.email">
        </div>

        <!--  PASSWORD -->
        <div class="form-field">
          <span class="form-input-label">Password</span>
          <input class="form-input" type="text" [(ngModel)]="page.password">
        </div>

        <!--  USERNAME -->
        <div class="form-field">
          <span class="form-input-label">Username</span>
          <input class="form-input" type="text" [(ngModel)]="page.username">
        </div>
      </div>
      <div class="row">

        <!--  DESCRIZIONE -->
        <div class="form-field">
          <span class="form-input-label">Descrizione</span>
          <input class="form-input" type="text" [(ngModel)]="page.descrizione">
        </div>
      </div>
    </div>
    <div class="body-end">

      <div class="row">
        <div class="col">

          <button
            mat-stroked-button
            color="primary"
            class="form-button"
            (click)="clear()"
          >
            Pulisci
          </button>
        </div>
        <div class="col">
          <button
            mat-raised-button
            color="primary"
            class="form-button"
            (click)="search()"
          >
            Cerca
          </button>
        </div>
      </div>

    </div>


  </div>

  <!--  RISULTATI RICERCA -->
  <div class="container" *ngIf="showResult">

    <div class="title">
      <p>Risultati ricerca</p>
    </div>

    <!--  HEADER TABELLA -->
    <div class="body">
      <div class="row">
        <div class="search-table-col">
          <span class="search-table-label">Email</span>
        </div>
        <div class="search-table-col">
          <span class="search-table-label">Password</span>
        </div>
        <div class="search-table-col">
          <span class="search-table-label">Username</span>
        </div>
        <div class="search-table-col">
          <span class="search-table-label">Descrizione</span>
        </div>
        <div class="search-table-action-col"></div>
      </div>
    </div>

    <!--  LISTA RISULTATI -->
    <div class="body-end">
      <div class="row" *ngFor="let e of results">
        <div class="search-table-col">
          <span class="search-table-label">{{e.email}}</span>
        </div>
        <div class="search-table-col">
          <span class="search-table-label">{{e.password}}</span>
        </div>
        <div class="search-table-col">
          <span class="search-table-label">{{e.username}}</span>
        </div>
        <div class="search-table-col">
          <span class="search-table-label">{{e.descrizione}}</span>
        </div>
        <div class="search-table-action-col">
          <mat-icon aria-hidden="false">delete_forever</mat-icon>
        </div>
      </div>
    </div>

  </div>


</div>
