@use "src/styles/colors" as colors;





.search-table-label {
  padding: 0 0 0 10px;
  margin: 1px 2px;
  color: colors.$gray-primary;
  width: 170px;
  font: 500 18px Roboto, "Helvetica Neue";
}

.search-table-col {
  margin: 0;
  border-right: 1px solid rgba(68, 71, 74, 0.3);
}

.search-table-mail-col {
  @extend .search-table-col;
  flex: 25%;
}

.search-table-pass-col {
  @extend .search-table-col;
  flex: 10%;
  border-right: 0 solid rgba(68, 71, 74, 0.3);

}

.search-table-user-col {
  @extend .search-table-col;
  flex: 20%;
  border-left: 1px solid rgba(68, 71, 74, 0.3);
}

.search-table-desc-col {
  @extend .search-table-col;
  flex: 35%;
}

.search-table-action-col {
  flex: 3%;
}


mat-icon {
  margin-left: 6px;
}
