<div class="page">
  <nav>Home > Password > Visualizza</nav>

  <div class="container no-border">
    <div class="row ">

    </div>
  </div>

  <!-- INPUT RICERCA -->
  <div class="container">

    <div class="title">
      <p>Inserimento</p>
    </div>

    <div class="body">

      <div class="row">
        <!-- aggiustare il binding dei dati con i formControl -->

        <!--  EMAIL -->
        <div class="form-field">
          <span class="form-input-label">Email</span>
          <input class="form-input" type="text" [(ngModel)]="page.email">
        </div>

        <!--  PASSWORD -->
        <div class="form-field">
          <span class="form-input-label">Password</span>
          <input class="form-input" type="text" [(ngModel)]="page.password">
        </div>

        <!--  USERNAME -->
        <div class="form-field">
          <span class="form-input-label">Username</span>
          <input class="form-input" type="text" [(ngModel)]="page.username">
        </div>
      </div>
      <div class="row">

        <!--  DESCRIZIONE -->
        <div class="form-field">
          <span class="form-input-label">Descrizione</span>
          <input class="form-input" type="text" [(ngModel)]="page.descrizione">
        </div>
      </div>
    </div>
    <div class="body-end">

      <div class="row">
        <div class="col">

          <button
            mat-stroked-button
            color="primary"
            class="form-button"
            (click)="clear()"
          >
            Pulisci
          </button>
        </div>
        <div class="col">
          <button
            mat-raised-button
            color="primary"
            class="form-button"
            (click)="insert()"
          >
            Inserisci
          </button>
        </div>
      </div>

    </div>


  </div>
</div>
