<div class="col-lg-12">
  <mat-card fxFlexFill fxLayoutAlign="center center">
    <div class="col-lg-3 col-md-3">
      <label id="email">--</label>
      <span>email</span>
    </div>
    <div class="col-lg-3 col-md-3">
      <label id="password">--</label>
      <span>password</span>
    </div>
    <div class="col-lg-3 col-md-3">
      <label id="username">--</label>
      <span>username</span>
    </div>
    <div class="col-lg-3 col-md-3">
      <label id="description">--</label>
      <span>description</span>
    </div>
  </mat-card>

</div>
